sass:
  $green: #7D9D2F
  $yellow: #FF8F30
  $red: #FF0029
  $grey: #CDD0CB
  $darkgrey: #8B8683
  $azure: #26ADE4
  $light-azure: #d5e6ed

  *
    margin: 0
    padding: 0

  #content
    font-family: 'Open Sans', 'Helvetica', Arial
    width: 740px
    margin: 0 auto

    .padded
      padding: 0 30px

    #read-on-website
      text-align: center
      font-size: 11px
      padding: 20px 0
      color: #777

      a
        color: #777
        text-decoration: underline

    #mail-header
      width: 100%
      border-bottom: 2px solid #ccc
      margin-bottom: 20px

      .evryio
        color: black
        font-size: 40px

      .icon
        width: 24px

      .timestamp
        color: #555
        font-size: 14px

    #at-a-glance
      margin-bottom: 40px

      h3
        font-size: 30px
        font-weight: 300
        line-height: 35px
        border-bottom: 2px solid #ccc
        color: #222
        margin-bottom: 15px

      table
        width: 100%

        tr.legend td
          text-align: center
          font-size: 14px
          color: #444
          min-width: 75px
          padding: 5px 0

        tr.folder
          margin-bottom: 5px
          background-color: #eee
          font-size: 20px
          line-height: 40px

          .label
            text-align: left
            padding-left: 15px
            width: 100%

            .task a
              color: black
              text-decoration: none
              font-size: 20px
              &:hover
                text-decoration: underline

          .last_at
            color: black
            padding: 0 10px
            text-align: center
            white-space: nowrap
            font-size: 21px

  #footer
    background-color: $azure
    color: white
    padding: 20px
    font-size: 14px

    a
      color: white
      font-weight: bold
      text-decoration: underline

