body
  background: #FCFCFC image-url("bright_squares.png") repeat
  font-family: 'Source Sans Pro', sans-serif
  text-shadow: 1px 1px white
  
a
  color: #00847E
  text-decoration: none
  &:hover
    text-decoration: underline

.evry
  .ui.menu
    .brand
      font-size: 2.4rem
      font-weight: normal

      i
        font-size: 0.62em
        opacity: 1
        position: relative
        left: -0.15em
        top: -0.02em

      a
        color: white
        text-decoration: none
        &:hover
          text-decoration: none

    .button
      &.logout
        // fix .basic.button color !important rule
        color: white !important
        box-shadow: none

    .right.menu
      .button
        top: 18%

  .ui.segment.hero
    background-color: rgba(238,238,238,.6)
    box-shadow: none
    padding: 1rem 13%

    .or
      height: 2em

  .ui.feature-list,
  .ui.sign-up
    margin-top: 3rem

  footer.ui.segment
    margin-top: 3rem
    font-weight: lighter

    a
      color: white
      font-weight: normal
      text-decoration: none

    a:hover
      text-decoration: underline

    .copyright
      font-size: 16px

  header
    .column
      padding-right: 2px

  .main.container
    &.newtask
      .form
        .field
          p
            font-size: 1.5rem
    &.edittask
      .form
        .field
          p
            font-size: 1.5rem
      table.notifications
        td.field
          font-weight: bold
    
    .task
      &.done
        .description
          text-decoration: line-through

      .set_task_state,
      .delete_button,
      .edit_button:hover
        cursor: pointer
        text-decoration: none

      .description a
        color: rgba(0, 0, 0, 0.8)

    #sidebar
      padding-left: 0

  #flash
    margin-bottom: 1rem
    .column
      padding: 0

  footer.ui.segment
    margin-top: 3rem

    .social
      a:hover
        i
          opacity: 1
          text-decoration: none



