*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  background: #FCFCFC image-url("bright_squares.png") repeat
  font-family: 'Source Sans Pro', sans-serif
  padding-bottom: 40px // fix for rumble "vote us"
  text-shadow: 1px 1px white

::-moz-selection
  background: #b3d4fc
  text-shadow: none

::selection 
  background: #b3d4fc
  text-shadow: none

a
  color: #00847E
  text-decoration: none
  &:hover
    text-decoration: underline

blockquote
  margin: 0px

.evry
  .ui.menu
    .brand
      font-size: 2.4rem
      font-weight: normal

      i
        font-size: 0.62em
        opacity: 1
        position: relative
        left: -0.15em
        top: -0.02em

      a
        color: white
        text-decoration: none
        &:hover
          text-decoration: none

    .button
      &.logout
        // fix .basic.button color !important rule
        color: white !important
        box-shadow: none

    .right.menu
      margin-top: 10px

  .ui.segment.hero
    background-color: rgba(238,238,238,.6)
    box-shadow: none
    padding: 2rem 13%

    .slogan
      p
        font-size: 42px
        line-height: 50px
        margin: auto auto 0em
        span
          color: #FF7038
          font-weight: bold
          font-size: 48px

    .or
      height: 2em

  .ui.feature-list,
  .ui.sign-up
    margin-top: 3rem

  footer.ui.segment
    margin-top: 3rem
    font-weight: lighter
    
    a
      color: white
      font-weight: normal
      text-decoration: none

    a:hover
      text-decoration: underline

    .copyright
      font-size: 16px
      
    .social
      a:hover
        i
          opacity: 1
          text-decoration: none

  header
    .column
      padding-right: 2px

  .main.container
    &.newtask
      .form
        .field
          p
            font-size: 1.5rem
    &.edittask
      .form
        .field
          p
            font-size: 1.5rem
      table.notifications
        td.field
          font-weight: bold
    
    .task
      &.done
        background-color: lighten(#00B5AD, 50%)

      .set_task_state,
      .delete_button,
      .edit_button:hover
        cursor: pointer
        text-decoration: none

      .description a
        color: rgba(0, 0, 0, 0.8)

    .want-to
      font-weight: lighter
      font-size: 1.5rem
      position: relative
      top: -4px
      left: 10px

      &.padded
        padding-left: 20px

    input
      font-weight: lighter
      font-family: "Source Sans Pro"
      
    form.natural-language
      input
        border: none
        border-bottom: 1px dashed #444
        border-radius: 0
        color: #444
        font-size: 1.5em
        height: 2rem
        outline: 0
        padding: 0
        width: 100%
        &:first-letter
          text-transform: capitalize
          
      .field.input.error > input
        border-radius: 0
        border-bottom-color: #D95C5C
      .ui.red.pointing.prompt.label
        margin-top: 0.3em
        font-size: 0.85rem
        text-transform: lowercase
        &:first-letter
          text-transform: capitalize
          
      button:focus
        outline: 1px solid #444
          
      em
        font-size: 1.6em

    #sidebar
      padding-left: 0

  #flash
    margin-bottom: 1rem
    .column
      padding: 0
