body
  font-family: 'Questrial', sans-serif
  text-shadow: 1px 1px white

.ui
  &.button
    text-shadow: 1px 1px gray
  &.icon.header
    text-shadow: 1px 1px white
  &.inverted
    text-shadow: 1px 1px black

h1, h2, h3, h4, h5, h6
  font-family: 'Josefin Sans', sans-serif


body
  background: #FCFCFC image-url("bgnoise_lg.png") repeat

.evry
  .brand
    font-size: 2.4rem
    font-weight: lighter
    
    i
      opacity: 1
  
  .hero
    background-color: rgba(238,238,238,.7)
    box-shadow: none
    padding: 1rem 13% !important

    .or
      height: 2em
  
  .feature-list
    margin-top: 3rem
